{% extends "base.html.twig" %}

{% block title %}Restaurant index{% endblock %}

{% block body %}
    <h1>Restaurant index</h1>

    <form class=" my-2">
        <div class="input-group">
            <input
                    type="text"
                    name="name"
                    class="form-control"
                    value="{{ app.request.query.get('name') }}"
                    placeholder="Recherche par nom ..."
            />
            <input
                    type="text"
                    name="address"
                    class="form-control"
                    value="{{ app.request.query.get('address') }}"
                    placeholder="Recherche par adresse ..."
            />

            <select name="nbresult" placeholder="List results" class="form-control">
                {% for t in tab_show_results %}
                    <option {% if t == nb_results_affiches %} selected {%  endif  %}>{{ t }}</option>
                {%  endfor %}

            </select>
            <button type="submit" class="btn btn-secondary">Search</button>
        </div>
    </form>


    Total Restaurants trouvés : {{ restaurants.getTotalItemCount }}
    <table class="table">
        <tr>
            <th>{{ knp_pagination_sortable(restaurants,'Restaurant', 'r.name')}} </th>
            <th>{{ knp_pagination_sortable(restaurants,'Address', 'r.address')}}</th>
            <th>{{ knp_pagination_sortable(restaurants,'Type', 'r.type')}}</th>
            <th class="text-center">Show</th>
            <th class="text-center"></th>
        </tr>
    {% for restaurant in restaurants %}
        <tr>
            <td> {{ restaurant.name }} </td>
            <td>{{ restaurant.address }}</td>
            <td>{{ restaurant.type }}</td>
            <td>{% if restaurant.user is not null %} {{ restaurant.user.email }} {% endif  %}</td>
            <td class="text-center">
                <a href="{{ path('app_restaurant_dishes_show',{'id': restaurant.id}) }}" class="btn btn-primary my-1"><i class="fa fa-french-fries"></i></a>
                <a href="{{ path('app_restaurant_beverages_show',{'id': restaurant.id}) }}" class="btn btn-primary my-1"><i class="fa fa-coffee-togo"></i></a>
                <a href="{{ path('app_restaurant_dessert_show',{'id': restaurant.id}) }}" class="btn btn-primary my-1"><i class="fa fa-ice-cream"></i></a>
            </td>
            <td>
                <a href="{{ path('app_restaurant_edit',{'id': restaurant.id}) }}" class="btn btn-primary my-1"><i class="fa fa-pencil-alt"></i></a>
            </td>
        </tr>
    {% endfor %}
    </table>

    <div class="text-center">
        <div class="mx-auto ">
            {{ knp_pagination_render(restaurants) }}
        </div>
    </div>
{% endblock %}