{% extends "base.html.twig" %}

{% block body %}
    <h1>Restaurant index</h1>

    <form class="col-5 my-2">
        <div class="input-group">
            <input
                    type="text"
                    name="q"
                    class="form-control"
                    value="{{ app.request.query.get('q') }}"
                    placeholder="Recherche ..."
            />
            <button type="submit" class="btn btn-secondary">Recherche</button>
        </div>
    </form>


    <table class="table">
        <tr>
            <th>Restaurant</th>
            <th>Address</th>
            <th>Type</th>
            <th class="text-center">Show</th>
        </tr>
    {% for restaurant in restaurants %}
        <tr>
            <td>{{ restaurant.name }}</td>
            <td>{{ restaurant.address }}</td>
            <td>{{ restaurant.type }}</td>
            <td class="text-center">
                <a href="{{ path('app_restaurant_dishes_show',{'id': restaurant.id}) }}" class="btn btn-sm  btn-primary my-1">Show dishes</a>
                <a href="{{ path('app_restaurant_beverages_show',{'id': restaurant.id,'name': restaurant.name}) }}" class="btn btn-sm btn-primary my-1">Show beverages</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}